<% provide(:title, 'All users') %>
<h3>ユーザー一覧</h3>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name1, user %>
      <%= link_to "編集", user %>
      <%= link_to "削除", user, method: :delete, data: { confirm: "削除しますか?" } %>
    </li>
  <% end %>
</ul>